.parent {
    position: relative;
    background: #9947eb;
    margin-top: 100px;
    justify-content: center;

}

.child_1 {

    position: relative;
    top: 0px;
    background: #99eb47;
    width: 100px;
}

.child_2 {
   position: relative;
    top: 0px;
  background: #aa754c;
}

.child_3 {

    background: #d83d50;
}