.room-container {
    /*overflow: hidden;*/
    position: relative;
    padding: 0;
    margin: 0;
    left:0;
    top: 0;
    justify-content: center;

}

.background-image {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    max-height: 100vh;
}

.background-image img {
    width: 100%;
    transform-origin: bottom right;
    animation: grow 150000ms ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
.text-container {
    width: 800px;
    height: 250px;
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 50;
    font-size: 60px;
    color: #fdfdfd;
    line-height: 1.4;
    text-align: center;

    /*text-shadow: 3px 3px 20px #000;*/
}
.phrase-lower {
    font-family: 'Marck Script', cursive;
    font-weight: 400;
    letter-spacing: 4px;
    font-style: italic;
    z-index: 1;
}

/*.phrase-head {*/
/*    font-family: 'Roboto Slab', serif;*/
/*    font-size: 26px;*/
/*}*/

@keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.rooms {
    position: relative;
}

.rooms p {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: start;
    width: 1200px;
    margin: auto;
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
}

.rooms h1 {
    padding-top: 40px;
    margin: auto;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 40px;
}