@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Raleway:ital@1&family=Roboto+Slab:wght@300&family=Satisfy&display=swap');

.container-reservation {
    position: relative;
    padding: 0;
    margin: 0;
    left:0;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    /*overflow-block: hidden;*/
}
.reservation {
    display: flex;
    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
    min-height: calc(100vh - var(--footer-height) - var(--navbar-height));
    background-image: url('./66644.jpg');
    justify-content: center;
    align-items: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    overflow-block: hidden;

}

.head-text {
    position: relative;
    text-align: center;
    color: #080909;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 50px;
    font-family: 'Marck Script', cursive;
    font-style: italic;
    font-weight: 100;
}

.reservation form {
    position: relative;
    padding: 30px 0;
    margin: 0 auto;
    display: block;
}

.reservation input {
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    border: solid 3px #777777;
    border-radius: 10px;
    width: 400px;
}

.reservation h1 {
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}


.reservation select {
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    border: solid 3px #777777;
    border-radius: 10px;
    width: 400px;
}




input:invalid{
    border-color: #900;
    background-color: #FDD;
}

input:focus:invalid {
    outline: none;
}

.error {
    width  : 100%;
    padding: 0;
    position: absolute;
    font-size: 18px;
    color: white;
    background-color: #900;
    border-radius: 5px;
    visibility: hidden;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
    visibility: visible;
}

.send-button {
    position: absolute;
    bottom: 65px;
    }

/*.send-button button {*/
/*    font-size: 24px;*/
/*    border: solid 3px #777777;*/
/*    border-radius: 10px;*/
/*    width: 160px;*/
/*    margin-top: 10px;*/
/*    background: #b99470;*/
/*    color: white;*/
/*}*/

.custom-btn {
    color: #fff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    margin-left: -150px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}


.btn-12{
    position: relative;
    border:none;
    box-shadow: none;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
}
.btn-12 span {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 300px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.btn-12 span:nth-child(1) {
    box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

